@font-face {
    font-family: 'Valorant'; /*a name to be used later*/
    src: url("../fonts/Valorant\ Font.ttf"); /*URL to font*/
}

*{
    font-family: "Valorant";
}
#container{
    display: flex;
    width: 100%;
    height: 98vh;
    justify-content: center;
    align-items: center;
}
#MainCountdown{
    font-size: 100px;
}